<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:data="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Inquirer</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{bootstrap.min.css}" />
    <script th:src="@{jquery.cookie.js}" ></script>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript"  src="webjars/jquery-cookie/1.3.1/jquery.cookie.js"
    />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="center-block" name="questionnaire" th:id="${questionnaire.id}"><h1 th:text="${questionnaire.label}"></h1></div>
    </div>
    <form action="test_completed" id="questionnaire_form">
        <div class="container" th:each="q : ${questions}">
            <br/>
            <p><label th:for="${q.id}" th:text="${q.question}" th:id="${q.id}"></label></p>
            <div class = "question" th:switch="${q.class.name}">

                <textarea class="form-control" th:case="'org.example.domain.Question'" rows="5"
                          th:name="${q.id}"></textarea>

                <p><th:block th:case ="'org.example.domain.FactorialQuestion'">
                    <input th:each="variant : ${q.answerVariants}" type="radio" th:name="${q.id}"
                           th:value="${variant.id}" th:text="${variant.answer}" th:id="${q.id}"/>
                </th:block></p>

                <p><th:block th:case="'org.example.domain.FactorialMultipleQuestion'">
                    <input th:each="variant : ${q.answerVariants}" type="checkbox" th:name="${q.id}"
                           th:value="${variant.id}" th:text="${variant.answer}" th:id="${variant.id}"/>
                </th:block></p>
            </div>
        </div>
        <br/>
        <p><input type="submit"/></p>
    </form>
    <script th:inline="javascript">
        $("#questionnaire_form").submit(function (event) {
            var answerArray = [];
            event.preventDefault();
            var form = $(this);
            url = form.attr( "action" );
            form.find(".question").each(function () {
                var textarea = $(this).find("textarea");
                if (textarea.length > 0){
                    var answer = {
                        className : "StringAnswer",
                        questionId : textarea.prop("name"),
                        value : textarea.prop("value")
                    }
                    answerArray.push(answer);
                    return;
                }

                var radio = $(this).find("input:radio:checked");
                if (radio.length > 0) {
                    var answer = {
                        className: "FactorialAnswer",
                        questionId: radio.prop("name"),
                        value: radio.prop("value")
                    }
                    answerArray.push(answer);
                    return;
                }

                var checkboxes = $(this).find("input:checkbox:checked");
                if (checkboxes.length > 0){
                    var tempArray = [];
                    var questionId;
                    checkboxes.each(function () {
                        tempArray.push($(this).prop("value"))
                        questionId = $(this).prop("name");
                    })
                    var answer = {
                        className : "FactorialMultipleAnswer",
                        questionId : questionId,
                        value : tempArray
                    }
                    answerArray.push(answer);
                    return;
                }
            })
            var id = $(".center-block[questionnaire]").prop('id');
            var now = new Date();
            var user_id = $.cookie("id");
            var questionnaire_id = [[${questionnaire.id}]];
            var passedTest = {
                answers : answerArray,
                userId : user_id,
                questionnaireId : questionnaire_id,
                date : now
            }
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: url,
                data: JSON.stringify(passedTest),
                dataType: 'json',
                success: function (result) {
                    history.back();

                },
                error: function (result) {
                    history.back();
                }
            });
        })
    </script>
</div>
</body>
</html>